/* --- Hoodie Sign In / Sign Up / Sign out stylings --- */
/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
    margin-top: 8px;
}

/* CUSTOM */

.bookmark {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    word-break: break-all;
}

#bookmarkSearchIcon.glyphicon-remove {
    cursor: pointer;
}

.page-header {
    margin-top: 0;
}

.bookmark-keywords li {
    color: #fff;
    background-color: #428bca;
    cursor: pointer;
    margin-left: 5px;
}

#alerts {
    position: absolute;
    z-index: 9999;
    width: 100%;
    top: 0;
}

.login-visible,
.login-invisible,
.not-logged-in .login-visible,
.logged-in .login-invisible {
    display: none;
}

.not-logged-in .login-invisible,
.logged-in .login-visible {
    display: block;
}
