/* --- Hoodie Sign In / Sign Up / Sign out stylings --- */
/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
    margin-top: 8px;
}

/* CUSTOM */

.bootstrap-tagsinput {
    width: 100%;
}

.bookmark {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    word-break: break-all;
}

.bookmark .bootstrap-tagsinput {
    border: none;
    box-shadow: none;
    padding: 0;
}

#bookmarkSearchIcon.glyphicon-remove {
    cursor: pointer;
}

.page-header {
    margin-top: 0;
}

.bookmark-keywords li {
    color: #fff;
    background-color: #428bca;
    cursor: pointer;
    margin-left: 5px;
}
